<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>排序分类</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'nav_manage/style_image_01.css' %}">
</head>
<body class="gray-bg" style="text-align:center">
<h2>排序分类</h2>
<form action="/nav_manage/sort_navi/submit" method="post">
    <div class="ibox float-e-margins" align="center">
        <div class="ibox-title">
            <h5>排序分类</h5>
        </div>
        <div class="ibox-content">
            <table data-toggle="table" data-height="600" class="table text-nowrap" border="1" align="center">
                <thead>
                <tr>
                    <th>分类名称</th>
                    <th>修改序号</th>
                </tr>
                </thead>
                <tbody>
                {% for navi in navis %}
                    <tr>
                        <td>
                            <center>{{ navi.name }}</center>
                        </td>
                        <td>
                            <input type="text" name="navi_name_[{{ navi.name }}]" value="{{ navi.sort }}">
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% csrf_token %}
    <input type="submit" value="排序">
</form>
</body>
</html>