<li>
    <a href="/nav_manage">
        <i class="fa fa-fa-fa"></i>
        <span class="nav-label">[查询信息]</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li>
            <a class="J_menuItem" href="/nav_manage/admin_information">我的信息</a>
        </li>
        <li>
            <a class="J_menuItem" href="/nav_manage/navi_list">管理导航</a>
        </li>
    </ul>
</li>
<li>
    <a href="/nav_manage">
        <i class="fa fa-fa-fa"></i>
        <span class="nav-label">[其它设置]</span>
        <span class="fa arrow"></span>
    </a>
        <ul class="nav nav-second-level">
        <li>
            <a class="J_menuItem" href="/nav_manage/admin_logout">登出系统</a>
        </li>
    </ul>
</li>
